*.pyc

/virtualenv
/.venv
/.env
/venv
/src

/node_modules

*.sublime-project
*.sublime-workspace
/.settings
.project
.pydevproject
.idea
.tern-project

.~lock.*\#
.vscode
/jsconfig.json

npm-debug.log
.DS_Store
